@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
    <p>
        Система перевірки на плагіат лабораторних робіт. Забезпечує студенту
        можливість авторизуватися, завантажити свою лабораторну роботу у вигляді
        файлів проекту та автоматично перевіряє роботу на плагіат відносно вже
        завантажених робіт. Відповідь видається у вигляді відсотку плагіату та посилань
        на інші роботи, з якими співпали шматки коду.
    </p>
</div>
